[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "external/rl_tools"]
	path = external/rl_tools
	url = https://gitee.com/LJN2017117574/rl-tools.git
[submodule "controller"]
	path = controller
	url = https://gitee.com/LJN2017117574/learning_to_fly_controller.git
